#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@font-face {
  font-family: 'Outfit-bold';
  src: url('./fonts/static/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}